.form-group { padding-bottom: 20px }
.kn { color: orange }
.s1 { color: grey; font-weight: bold }
.n { color: blue }
.nb { color: green }

table { font-size: 10pt; }
caption { caption-side: top; }

body {
  margin-bottom: 60px;
}
.footer {
  height: 60px;
  text-align: center;
  margin-top: 120px
}

.ex {
  display: inline-block;
  padding: 20px
}

body > .container {
  padding: 60px 15px 0;
}