{% extends "base.html" %}
{% load i18n %}
{% load string_manuplation %}
{% load pygmentify_tags %}
{% block title %}{{ title }}{% endblock %}
{% block description %}Conjunction of the Turkish verb {{ infinitive }}. Click page title to direct into main page to conjunct nouns and verbs that you can enter yourself.{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    <br />
    <h4>{% trans 'Infinitive' %}</h4>
    <hr />
    <table class="table table-hover table-bordered table-striped">
        <tbody>
            <tr>
                <th>{% trans 'Affirmative Statement' %}</th>
                <td>{{ conjunctions.infinitive }}</td>
            </tr>
            <tr>
                <th>{% trans 'Negative Statement' %}</th>
                <td>{{ conjunctions.infinitive_negative }}</td>
            </tr>
        </tbody>
    </table>

    <br /><br />

    {% for conj in conjunctions.conjunctions %}
        <div class="row">
            <div class="col">
                <div style="font-weight: bold">{{ conj.tense|capitalize }}</div>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-hover table-bordered table-striped table-sm">
                    <caption>{% trans 'Affirmative Statement' %}</caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans 'Singular' %}</th>
                            <th>{% trans 'Plural' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{% trans '1st Person' %}</th>
                            <td lang="tr">{{ conj.conjunct.p1_poz_sng }}</td>
                            <td lang="tr">{{ conj.conjunct.p1_poz_pul }}</td>
                        </tr>
                        <tr>
                            <th>{% trans '2nd Person' %}</th>
                            <td lang="tr">{{ conj.conjunct.p2_poz_sng }}</td>
                            <td lang="tr">{{ conj.conjunct.p2_poz_pul }}</td>
                        </tr>
                        <tr>
                            <th>{% trans '3rd Person' %}</th>
                            <td lang="tr">{{ conj.conjunct.p3_poz_sng }}</td>
                            <td lang="tr">{{ conj.conjunct.p3_poz_pul }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-hover table-bordered table-striped table-sm">
                    <caption>
                        {% trans 'Interrogative' %}
                    </caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans 'Singular' %}</th>
                            <th>{% trans 'Plural' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{% trans '1st Person' %}</th>
                            <td lang="tr">{{ conj.conjunct.p1_poz_sng_q }}</td>
                            <td lang="tr">{{ conj.conjunct.p1_poz_pul_q }}</td>
                        </tr>
                        <tr>
                            <th>{% trans '2nd Person' %}</th>
                            <td lang="tr">{{ conj.conjunct.p2_poz_sng_q }}</td>
                            <td lang="tr">{{ conj.conjunct.p2_poz_pul_q }}</td>
                        </tr>
                        <tr>
                            <th>{% trans '3rd Person' %}</th>
                            <td lang="tr">{{ conj.conjunct.p3_poz_sng_q }}</td>
                            <td lang="tr">{{ conj.conjunct.p3_poz_pul_q }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-hover table-bordered table-striped table-sm">
                    <caption>
                        {% trans 'Negative Statement' %}
                    </caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans 'Singular' %}</th>
                            <th>{% trans 'Plural' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{% trans '1st Person' %}</th>
                            <td lang="tr">{{ conj.conjunct.p1_neg_sng }}</td>
                            <td lang="tr">{{ conj.conjunct.p1_neg_pul }}</td>
                        </tr>
                        <tr>
                            <th>{% trans '2nd Person' %}</th>
                            <td lang="tr">{{ conj.conjunct.p2_neg_sng }}</td>
                            <td lang="tr">{{ conj.conjunct.p2_neg_pul }}</td>
                        </tr>
                        <tr>
                            <th>{% trans '3rd Person' %}</th>
                            <td lang="tr">{{ conj.conjunct.p3_neg_sng }}</td>
                            <td lang="tr">{{ conj.conjunct.p3_neg_pul }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-hover table-bordered table-striped table-sm">
                    <caption>{% trans 'Interrogative' %}</caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans 'Singular' %}</th>
                            <th>{% trans 'Plural' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{% trans '1st Person' %}</th>
                            <td lang="tr">{{ conj.conjunct.p1_neg_sng_q }}</td>
                            <td lang="tr">{{ conj.conjunct.p1_neg_pul_q }}</td>
                        </tr>
                        <tr>
                            <th>{% trans '2nd Person' %}</th>
                            <td lang="tr">{{ conj.conjunct.p2_neg_sng_q }}</td>
                            <td lang="tr">{{ conj.conjunct.p2_neg_pul_q }}</td>
                        </tr>
                        <tr>
                            <th>{% trans '3rd Person' %}</th>
                            <td lang="tr">{{ conj.conjunct.p2_neg_sng_q }}</td>
                            <td lang="tr">{{ conj.conjunct.p2_neg_pul_q }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    {% endfor %}

{% endblock %}
