{% extends "base.html" %}
{% load i18n %}
{% load string_manuplation %}
{% load pygmentify_tags %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{% trans 'Conjuncts Turkish suffixes directly from stems for verbs. Website has also a little vocabulary in order to enter some English verbs and translates into Turkish.' %}{% endblock %}

{% block content %}
    {% for verb in verbs %}
        <h2>{{ verb.letter }}</h2>
        <hr />
        {% for v in verb.verbs %}
            <div class="ex">
                <a href="{% url 'conjunct_verb' %}{{ v|tr_slugify }}/" lang="tr">{{ v }}</a>
            </div>
        {% endfor %}
        <br /><br /><br />
    {% endfor %}
{% endblock %}
