{% extends "base.html" %}
{% load string_manuplation %}
{% load pygmentify_tags %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <form id="frm" method="get">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>
                        <input
                            type="checkbox"
                            name="english"
                            id="english"
                            class="form-check-input" {% if request.GET.english %} checked {% endif %}
                        />
                        Translate from English
                    </label>
                </div>
            </div>
        </div>

        <div class="row english">
            <div class="col">
                <div class="form-group">
                    <label for="verb_english">Verb</label>
                    <select name="verb_english" id="verb_english" class="form-control autocomplete">
                        <option></option>
                        {% for english, turkish in vocabulary.items %}
                            <option {% ifequal request.GET.verb_english turkish %} selected {% endifequal %}value="{{ turkish }}">{{ english }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row turkish">
            <div class="col">
                <div class="form-group">
                    <label for="verb">Verb</label>
                    <input
                        type="text"
                        id="verb"
                        maxlength="50"
                        name="verb"
                        class="form-control"
                        value="{{ request.GET.verb }}"
                        autofocus
                    />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>
                        <input
                            type="checkbox"
                            name="question"
                            class="form-check-input" {% if request.GET.question %} checked {% endif %}
                        />
                        Interrogative
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>
                        <input
                            type="checkbox"
                            name="negative"
                            class="form-check-input" {% if request.GET.negative %} checked {% endif %}
                        />
                        Negative
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>
                        <input
                            type="checkbox"
                            name="show_code"
                            class="form-check-input" {% if request.show_code %} checked {% endif %}
                        />
                        Python
                    </label>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-xl-4">
                <div class="form-group">
                    <label>
                        Tense<br />
                        <select name="tense" class="form-control">
                            {% for tense in tenses %}
                            <option value="{{ tense }}" {% ifequal request.GET.tense tense %} selected {% endifequal %}>
                                {{ tense|capitalize }}
                            </option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-xl-4">
                <div class="form-group">
                    <label>
                        Portmanteau Verb<br />
                        <select name="affix" class="form-control">
                            <option value=""></option>
                            <option value="bil" {% if request.GET.affix == 'bil' %} selected {% endif %}>
                                bil (can in English)
                            </option>
                            <option value="dur" {% if request.GET.affix == 'dur' %} selected {% endif %}>
                                dur
                            </option>
                            <option value="ver" {% if request.GET.affix == 'ver' %} selected {% endif %}>
                                ver
                            </option>
                            <option value="gel" {% if request.GET.affix == 'gel' %} selected {% endif %}>
                                gel
                            </option>
                            <option value="kal" {% if request.GET.affix == 'kal' %} selected {% endif %}>
                                kal
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-xl-4">
                <div class="form-group">
                    <label>
                        Morphological derivation<br />
                        <select name="morph" class="form-control">
                            <option value=""></option>
                            <option value="passive" {% if request.GET.morph == 'passive' %} selected {% endif %}>
                                Passive
                            </option>
                        </select>
                    </label>
                </div>
            </div>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>

    {% if result %}
        {{ infinitive }}
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Singular</th>
                    <th>Plural</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1st Person</th>
                    <th>{{ result.s1 }}</th>
                    <th>{{ result.p1 }}</th>
                </tr>
                <tr>
                    <th>2nd Person</th>
                    <th>{{ result.s2 }}</th>
                    <th>{{ result.p2 }}</th>
                </tr>
                <tr>
                    <th>3rd Person</th>
                    <th>{{ result.s3 }}</th>
                    <th>{{ result.p3 }}</th>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if show_code %}
    {% pygmentify %}
    <pre class="python" id="code">{{ code }}</pre>
    {% endpygmentify %}
    {% endif %}
{% endblock %}
