{% extends "base.html" %}
{% load i18n %}
{% load string_manuplation %}
{% load pygmentify_tags %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{% trans 'Conjuncts Turkish suffixes directly from stems for nouns. Noun link does not have but the verbs have a little vocabulary in order to enter some English verbs and translates into Turkish.' %}{% endblock %}

{% block content %}
    <form id="frm" method="get">
        <div class="form-group">
            <label for="Noun">{% trans 'Noun' %}</label>
            <input
                type="text"
                id="noun"
                maxlength="50"
                name="noun"
                class="form-control"
                value="{{ noun }}"
                autofocus
            />
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>
                        <input
                            type="checkbox"
                            name="proper_noun"
                            class="form-check-input" {% if proper_noun %} checked {% endif %}
                        />
                        {% trans 'Proper noun' %}
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>
                        <input
                            type="checkbox"
                            name="show_code"
                            class="form-check-input" {% if show_code %} checked {% endif %}
                        />
                        Python
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
        </div>
    </form>

    {% if result %}

    <div class="row">
        {% for res in result %}
            <div class="col" style="min-width: 200px; max-width: 200px">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <th>{{ res.case|capitalize }}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td lang="tr">{{ res.result }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>

    <br /><br />

    <div class="h4">{% trans 'Possessive Conjunction' %}</div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans 'Singular' %}</th>
                    <th>{% trans 'Plural' %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{% trans '1st Person' %}</th>
                    <th lang="tr">{{ possessive.s1 }}</th>
                    <th lang="tr">{{ possessive.p1 }}</th>
                </tr>
                <tr>
                    <th>{% trans '2nd Person' %}</th>
                    <th lang="tr">{{ possessive.s2 }}</th>
                    <th lang="tr">{{ possessive.p2 }}</th>
                </tr>
                <tr>
                    <th>{% trans '3rd Person' %}</th>
                    <th lang="tr">{{ possessive.s3 }}</th>
                    <th lang="tr">{{ possessive.p3 }}</th>
                </tr>
            </tbody>
        </table>
    </div>

    {% for copula in copulas %}
    <div class="row">
        <div class="col">
            <h4>{{ copula.tense|capitalize }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-bordered table-striped table-sm">
                <caption>{% trans 'Affirmative Statement' %}</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans 'Singular' %}</th>
                        <th>{% trans 'Plural' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{% trans '1st Person' %}</th>
                        <td lang="tr">{{ copula.conjunct.s1p }}</td>
                        <td lang="tr">{{ copula.conjunct.p1p }}</td>
                    </tr>
                    <tr>
                        <th>{% trans '2nd Person' %}</th>
                        <td lang="tr">{{ copula.conjunct.s2p }}</td>
                        <td lang="tr">{{ copula.conjunct.p2p }}</td>
                    </tr>
                    <tr>
                        <th>{% trans '3rd Person' %}</th>
                        <td lang="tr">{{ copula.conjunct.s3p }}</td>
                        <td lang="tr">{{ copula.conjunct.p3p }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-hover table-bordered table-striped table-sm">
                <caption>{% trans 'Interrogative' %}</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans 'Singular' %}</th>
                        <th>{% trans 'Plural' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{% trans '1st Person' %}</th>
                        <td lang="tr">{{ copula.conjunct.s1pq }}</td>
                        <td lang="tr">{{ copula.conjunct.p1pq }}</td>
                    </tr>
                    <tr>
                        <th>{% trans '2nd Person' %}</th>
                        <td lang="tr">{{ copula.conjunct.s2pq }}</td>
                        <td lang="tr">{{ copula.conjunct.p2pq }}</td>
                    </tr>
                    <tr>
                        <th>{% trans '3rd Person' %}</th>
                        <td lang="tr">{{ copula.conjunct.s3pq }}</td>
                        <td lang="tr">{{ copula.conjunct.p3pq }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-hover table-bordered table-striped table-sm">
                <caption>{% trans 'Negative Statement' %}</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans 'Singular</th>
                        <th>{% trans 'Plural' ½}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{% trans '1st Person' %}</th>
                        <td lang="tr">{{ copula.conjunct.s1n }}</td>
                        <td lang="tr">{{ copula.conjunct.p1n }}</td>
                    </tr>
                    <tr>
                        <th>{% trans '2nd Person' %}</th>
                        <td lang="tr">{{ copula.conjunct.s2n }}</td>
                        <td lang="tr">{{ copula.conjunct.p2n }}</td>
                    </tr>
                    <tr>
                        <th>{% trans '3rd Person' %}</th>
                        <td lang="tr">{{ copula.conjunct.s3n }}</td>
                        <td lang="tr">{{ copula.conjunct.p3n }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-hover table-bordered table-striped table-sm">
                <caption>{% trans 'Interrogative' %}</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans 'Singular' %}</th>
                        <th>{% trans 'Plural' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{% trans '1st Person' %}</th>
                        <td lang="tr">{{ copula.conjunct.s1nq }}</td>
                        <td lang="tr">{{ copula.conjunct.p1nq }}</td>
                    </tr>
                    <tr>
                        <th>{% trans '2nd Person' %}</th>
                        <td lang="tr">{{ copula.conjunct.s2nq }}</td>
                        <td lang="tr">{{ copula.conjunct.p2nq }}</td>
                    </tr>
                    <tr>
                        <th>{% trans '3rd Person' %}</th>
                        <td lang="tr">{{ copula.conjunct.s3nq }}</td>
                        <td lang="tr">{{ copula.conjunct.p3nq }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if show_code %}
    {% pygmentify %}
    <pre class="python" id="code">{{ code }}</pre>
    {% endpygmentify %}
    {% endif %}
{% endblock %}
