{% extends "base.html" %}
{% load string_manuplation %}
{% load pygmentify_tags %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <form id="frm" method="get">
        <div class="form-group">
            <label for="Noun">Noun</label>
            <input
                type="text"
                id="noun"
                maxlength="50"
                name="noun"
                class="form-control"
                value="{{ noun }}"
                autofocus
            />
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>
                        <input
                            type="checkbox"
                            name="proper_noun"
                            class="form-check-input" {% if proper_noun %} checked {% endif %}
                        />
                        Proper noun
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>
                        <input
                            type="checkbox"
                            name="show_code"
                            class="form-check-input" {% if show_code %} checked {% endif %}
                        />
                        Python
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>

    {% if result %}

    <div class="row">
        {% for res in result %}
            <div class="col" style="min-width: 200px; max-width: 200px">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <th>{{ res.case|capitalize }}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td lang="tr">{{ res.result }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>

    <br /><br />

    <div class="h4">Possessive Conjunction</div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Singular</th>
                    <th>Plural</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1st Person</th>
                    <th lang="tr">{{ possessive.s1 }}</th>
                    <th lang="tr">{{ possessive.p1 }}</th>
                </tr>
                <tr>
                    <th>2nd Person</th>
                    <th lang="tr">{{ possessive.s2 }}</th>
                    <th lang="tr">{{ possessive.p2 }}</th>
                </tr>
                <tr>
                    <th>3rd Person</th>
                    <th lang="tr">{{ possessive.s3 }}</th>
                    <th lang="tr">{{ possessive.p3 }}</th>
                </tr>
            </tbody>
        </table>
    </div>

    {% endif %}

    {% if show_code %}
    {% pygmentify %}
    <pre class="python" id="code">{{ code }}</pre>
    {% endpygmentify %}
    {% endif %}
{% endblock %}
