{% load i18n %}
<p>{% trans 'Copula present' %}</p>
<p>{% trans 'Copula definite past' %}</p>
<p>{% trans 'Copula indefinite past' %}</p>
<p>{% trans 'Accusative' %}</p>
<p>{% trans 'Dative' %}</p>
<p>{% trans 'Ablative' %}</p>
<p>{% trans 'Locative' %}</p>
<p>{% trans 'Equalative' %}</p>
<p>{% trans 'Instrumental' %}</p>
<p>{% trans 'Privative' %}</p>
<p>{% trans 'Genitive' %}</p>
<p>{% trans 'Relative pronoun' %}</p>
<p>{% trans 'Present continuous simple' %}</p>
<p>{% trans 'Simple tense' %}</p>
<p>{% trans 'Imperative mood' %}</p>
<p>{% trans 'Simple tense past definite' %}</p>
<p>{% trans 'Simple tense indefinite past' %}</p>
<p>{% trans 'Past definite' %}</p>
<p>{% trans 'Past progressive dubitative' %}</p>
<p>{% trans 'Past progressive alternative dubitative' %}</p>
<p>{% trans 'Indefinite past' %}</p>
<p>{% trans 'Past progressive narrative' %}</p>
<p>{% trans 'Past progressive alternative narrative' %}</p>
<p>{% trans 'Past perfect narrative' %}</p>
<p>{% trans 'Doubtful distant past' %}</p>
<p>{% trans 'Past in the future' %}</p>
<p>{% trans 'Past conditional narrative' %}</p>
<p>{% trans 'Past conditional dubitative' %}</p>
<p>{% trans 'Future simple' %}</p>
<p>{% trans 'Future in the past' %}</p>
<p>{% trans 'Future dubitative' %}</p>
<p>{% trans 'Future conditional' %}</p>
<p>{% trans 'Necessitative mood simple tense' %}</p>
<p>{% trans 'Necessitative past narrative' %}</p>
<p>{% trans 'Necessitative past dubitative' %}</p>
<p>{% trans 'Conditional mood simple tense' %}</p>
<p>{% trans 'Subjunctive mood simple tense' %}</p>
<p>{% trans 'Past definite narrative' %}</p>
<p>{% trans 'Past indefinite past' %}</p>
<p>{% trans 'Indefinite past future' %}</p>
<p>{% trans 'Past future' %}</p>
<p>{% trans 'Indefinite past reportative' %}</p>
<p>{% trans 'Definite past reportative' %}</p>